<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131251702136-7fr71g3d44h6jeje0dpeabioj6ktgf01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131251702136-7fr71g3d44h6jeje0dpeabioj6ktgf01</string>
	<key>API_KEY</key>
	<string>AIzaSyBd9Ru4_MWXPsym7KaUgRq-RqbcTgcT-YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>131251702136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monoapps.ios</string>
	<key>PROJECT_ID</key>
	<string>chat-app-fdf76</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-fdf76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131251702136:ios:2cbe444c83e87fbfa3a08d</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-fdf76.firebaseio.com</string>
</dict>
</plist>